.user {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.icon {
  margin-right: 2rem;
}

.menuBar {
  flex-grow: 1;
}

.toggleBar {
  width: 18.75rem;
}

.menuItem {
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
