.container {
  padding: 50px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 100%;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
