.container {
  padding: 3.125rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.input {
  width: 100%;
  gap: 2rem;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
  color: white !important;
}

.subTitle {
  margin-bottom: 1.25rem;
}
