.box {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: center;
  justify-content: center;
  margin-top: 12.5rem;
}

.table {
  min-height: 400;
  width: 100%;
  padding: 50px;
}

.btn {
  border-radius: 3.125rem;
  width: 12.5rem;
  color: white !important;
  border-radius: 2rem !important;
}

.btnCreate {
  margin-top: 2rem;
  color: white !important;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title div h2 {
  font-weight: lighter;
  margin-bottom: 1.25rem;
}
